.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card {
  width: 100%;
  max-width: 1300px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.ticketNumberContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ticketNumber {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.packageItemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.subtitle {
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
}

.rowBtns {
  width: 100%;
  max-width: 1300px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.totalPrice {
  width: 100%;
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: right;
  color: var(--color-secondary);
}
