/*
 * Paleta de colores centralizada.
 */
:root {
  --background: #ffffff;
  --foreground: #170118;

  /* Base azul (alineada con contact y reutilizable) */
  --color-primary: #7a0683;
  --color-primary-dark: #531358;
  --color-primary-dark2: #400344;
  --color-primary-light: #FCE7FE;
  --color-primary-light2: #FDE1FF;
  --color-primary-light3: #FAB7FF;
  --color-secondary: #D543DF;
  --color-tertiary: #F78CFF;
  --color-four: #946FB3;

  /* Footer */
  --color-footer-bg: #FCE7FE;
  --color-copy-bg: #7a0683;
  --color-footer-text: #ffffff;
  --color-footer-card-bg: #FDE1FF;
  --color-footer-accent: #7a0683;

  /* Header y NavBar */
  --color-nav-bg: #7a0683;
  --color-nav-text: #ffffff;
  --color-nav-link: #ffffff;
  --color-nav-active: #D543DF;
  --color-header-bg: #ffffff;
  --color-header-text: #7a0683;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-primary-dark2);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layoutWrapper {
  display: flex;
  flex-direction: column;
}

.layoutContent {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
