.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--background);
}

.main {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 80px);
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.banner {
  width: 100%;
  min-height: calc(95vh - 80px);
  background: var(--main-banner);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.overlay {
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.content {
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
  text-align: right;
  padding: 5px 15px;
}

.title {
  margin: 0;
  color: var(--color-primary-dark2);
  line-height: 1.15;
  font-size: clamp(1.8rem, 4vw, 3rem);
}

.description {
  margin: 0;
  color: var(--color-primary);
  font-size: clamp(1rem, 2.2vw, 1.2rem);
  line-height: 1.4;
  text-align: right;
}

.tutorial {
  padding-top: 30px;
  padding-bottom: 30px;
}

.slogan {
  padding: 60px 50px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sloganTitle {
  margin: 0;
  color: var(--color-primary-dark2);
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

@media (max-width: 768px) {
  .main {
    min-height: calc(100vh - 64px);
  }

  .banner {
    min-height: calc(100vh - 64px);
    background: var(--main-banner);
  }

  .content {
    margin: 5px;
    max-width: none;
    align-items: flex-end;
    border-radius: 16px;
    background-color: rgba(252, 231, 254, 0.5);
  }
}
