.sidebar {
  min-width: 220px;
  min-height: 480px;
  background-color: var(--color-primary-light3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 16px 0px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.link {
  color: var(--color-primary-dark2);
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 16px;
  transition: color 0.2s ease, background-color 0.2s ease;
  border-radius: 8px;
  margin: 0px 8px;
}

.link:hover {
  color: var(--color-nav-text);
  background-color: var(--color-primary);
}

.link.active {
  color: var(--color-nav-text);
  background-color: var(--color-secondary);
}
