.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

.header {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card {
  width: 100%;
  max-width: 1300px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.rowBtns {
  width: 100%;
  max-width: 1300px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.wizardContainer {
  width: 100%;
  max-width: 1300px;
  margin-top: 10px;
}